<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.practice.FirstServletUsingServletClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.practice.SecondServletUsingGeneriClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>com.practice.ServletClassUsingHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.practice.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.practice.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <display-name>ServletBasics</display-name>
  <welcome-file-list>
    <welcome-file>session.jsp</welcome-file><!-- com.practice.sessiontracking -->
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file> <!--com.practice-->
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.practice.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.practice.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session1</display-name>
    <servlet-name>Session1</servlet-name>
    <servlet-class>com.practice.sessiontracking.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session2</display-name>
    <servlet-name>Session2</servlet-name>
    <servlet-class>com.practice.sessiontracking.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>